body {
  background-color: #D7CEC7;
  text-align: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.question {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: #565656;
  box-shadow: 1px 1px #76323F;
  margin-bottom: 20px;
  color: #565656;
}

.prediction {
  padding: 10px;
}

h1 {
  border-bottom: #565656;
  padding-bottom: 10px;
  box-shadow: 2px 2px #76323F;
  color: #76323F
}

p {
  font-size: 20px;
}

label {
  font-size: 20px;
}

button {
  padding: 8px;
}

img {
  width: 1200px;
  height: 100px;
  margin: 10px;
  box-shadow: 5px 5px #76323F;
}
