<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The Heart of the Matter</title>
  <meta name="description" content="Cardiovascular Risk Prediction Model">
  <meta name="author" content="Jessica Roland">
  <script src="{{ url_for('static', filename='brython.js')}}"></script>
  <script src="{{ url_for('static', filename='brython_stdlib.js')}}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body onload="brython()">
  <script type="text/python" src="{{ url_for('static', filename='brapp.py') }}"></script>
  <h1>Do you currently have high risk for cardiovascular disease?</h1>
  <img src="{{ url_for('static', filename='heartbeat.png') }}" alt="Decorative EKG">
  <p>Please fill out the questionnaire below. All fields are required.</p>
  <div>
    <div class="question"><p>Age:</p><input id="age"></div>

    <div class="question">
      <label for="gender">Choose your gender:</label>
      <select id="gender">
      <option value="">Select One</option>
      <option value="1">Male</option>
      <option value="0">Female</option>
      </select>
    </div>

    <div class="question">
      <label for="race">Choose your race:</label>
      <select id="race">
      <option value="">Select One</option>
      <option value="1">Mexican American</option>
      <option value="2">Other Hispanic</option>
      <option value="3">Non-Hispanic White</option>
      <option value="4">Non-Hispanic Black</option>
      <option value="5">Non-Hispanic Asian</option>
      <option value="6">Other/Multi-Racial</option>
      </select>
    </div> 

    <div class="question"><p>Height (in inches):</p><input id="height"></div>

    <div class="question"><p>Weight (in lbs):</p><input id="weight"></div>

    <div class="question"><p>Resting Pulse (beats/minute)</p><input id="pulse"></div>

    <div class="question"><p>What is the most you have ever weighed? (in lbs)</p><input id="heaviest"></div>

    <div class="question">
    <p>Have you smoked 100+ cigarettes (5 packs) in your life?</p>
      <select id="smoke">
      <option value="">Select One</option>
      <option value="1">Yes</option>
      <option value="0">No</option>
      </select>
    </div>

    <div class="question"><p>If you have ever smoked regularly, at what age did you start? (Enter 0 if not applicable)</p><input id="age_smoke"></div>

    <div class="question">
    <p>Have you ever been told by a doctor or other health professional that you had high blood pressure?</p>
      <select id="pressure">
      <option value="">Select One</option>
      <option value="1">Yes</option>
      <option value="0">No</option>
      </select>
    </div>

    <div class="question">
    <p>Have you ever been told by a doctor or health professional to reduce the amount of sodium or salt in your diet?</p>
      <select id="salt">
      <option value="">Select One</option>
      <option value="1">Yes</option>
      <option value="0">No</option>
      </select>
    </div>

    <div class="question">
    <p>Has a close relative ever had a heart attack?</p>
      <select id="relative">
      <option value="">Select One</option>
      <option value="1">Yes</option>
      <option value="0">No</option>
      </select>
    </div>

    <div class="question"><p>Number of meals not home-prepared in the last 30 days (estimated):</p><input id="food"></div>

    <div class="question">
    <p>Did you drink milk in the past 30 days?</p>
      <select id="milk">
      <option value="">Select One</option>
      <option value="1">Yes</option>
      <option value="0">No</option>
      </select>
    </div>

    <div class="question"><p>How many different dietary supplements do you take?:</p><input id="supps"></div>
    
    <div class="question"><p>Over the past 30 days, how many hours per day (on average) did you watch TV or videos?</p><input id="tv"></div>

    <div class="question"><p>Annual income</p><input id="income"></div>
  </div>
  
  <div>
    <button type="button" id="predict">Predict</button>
  </div>
  <div class="prediction">
    <p>You are currently: <span id="prediction"></span></p>
  </div>
</body>
</html>